@font-face {
    src: url(EduSABeginner-Bold.ttf);
    font-family: edun;

}

* {
    text-align: center;
    font-family: edun;
}

body {

    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    background-image: url("v8pic.jpg");
}

.spanner {
    background-image: url("spannercut.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 660px;
    padding: 30px 220px 40px 200px;
    display: flex;
    display: inline-block;
    color: black;
    font-size: 60px;
    text-shadow: 5px 1px 3px white;
    text-align: center;

}

h1 {

    padding: 20px 200px 20px 200px;

    /* display: flex; */
    /* background-position: center; */
    /* background-repeat: none; */
    /* display: inline-flex; */
}

.navbar {
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    font-size: 25px;
    color: orange;
    
}

.navbar a {
    color: orange;
    text-decoration: none;
    
}

.navbar a:hover{
    color: red;
    
}

.backtop {
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    font-size: x-large;
    color: orange;
    text-decoration: none;
    background-color: black;
    border-radius: 20px;
    padding: 1px 15px 2px 15px;
}

.homeB {
    background-color: rgba(0, 0, 0, 0.70);
    border-radius: 20px;
    padding: 1px 15px 2px 15px;
}

.aboutB {
    background-color: rgba(0, 0, 0, 0.70);
    border-radius: 20px;
    padding: 1px 15px 2px 15px;
}

.tricksB {
    background-color: rgba(0, 0, 0, 0.670);
    border-radius: 20px;
    padding: 1px 15px 2px 15px;
}

.contactB {
    background-color: rgba(0, 0, 0, 0.70);
    border-radius: 20px;
    padding: 1px 15px 2px 15px;
}

#head1 {
    font-size: 30px;
    text-shadow: 4px 3px 2px black;
    text-transform: capitalize;
    padding: 20px 100px 300px 100px;
    text-align: center;
    color: silver;
    background-image: url("garage.jpg");
    border-radius: 20px;

    background-position: center;
    /* background-repeat: none; */
    display: inline-block;
}

.navgarage{
    color: orange;
    text-decoration: none;
}
.navgarage:hover {
    color: red;
}

p {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size:x-large;
    /* padding: 10px 70px 10px 70px; */
    font-size: 20px;
    color: aliceblue;

}

#yes1 {
    color: red;
    background-color: black;
    border-radius: 20px;
    padding: 2px 15px 2px 15px;
    display: inline-block;

}

#no1{
    color: black;
    background-color: red;
    border-radius: 20px;
    padding: 2px 15px 2px 15px;
    display: inline-block;
}


.start {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size:40px;
    text-shadow: 2px 1px 1px black;
    color: white;
    background-image: url("key.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 600px;
    padding:10px 50px 0px 50px;
    display: inline-block;
}

.choice {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 30px 0px 5px 0px;
    /* font-size: 50px; */
}

#dontfix {
    padding: 1px 80px 1px 80px;
    font-size: 50px;
    color:  white;
    background-color: black;
    background-position: center;
    display: inline-block;
}


/* contact imout */


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    /* resize: vertical; */
    }
    
input[type=submit] {
        font-size: x-large;
    background-color: orange;
    color: black;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    }
    
input[type=submit]:hover {
    background-color: red;
    }
    
.container {
    font-size: x-large;
    color: orange;
    text-shadow: 0.5px 0.5px 1px white;
    border-radius: 10px;
    background-image: url(garage.jpg);
    padding: 50px 40px;
    background-position: center;
    display: inline-block;
    
    }